<footer>
			<div class="container-fluid">
				<div id="logo-footer">
					<a href="/"><img src="\images\logo_transparent.png" id="footer-logo"></a>
				</div>
				<div>
					<span>D..BUg! © 2018</span>
				</div>
			</div>
		</footer>
</body>
</html>