<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link rel="stylesheet" type="text/css" href="Home.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="  #bs-example-navbar-collapse-1" aria-expanded="false">
       				<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
       	 			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
				<a href="/" class="navbar-brand"> D..BUg <i class="fas fa-exclamation"></i></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">ABOUT</a></li>
					<li><a href="/">FEATURES</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/debug/new"><i class="fas fa-user-plus"></i> Signup</a></li>
					<li><a href="/debug/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
 	<script type="text/javascript" src="bootstrap.min.js"></script>
 	<div class="container">
 		<div class="jumbotron">
 			<h1>Welcome TO D..BUg <i class="fas fa-exclamation"></i></h1>
 			<p>where you can showcasing your development skills which will helpful for other beginners...</p>
 			<p><button   class="btn btn-primary btn-lng b1"><a href="/debug/new">Get Started</a></button></p>
 		</div>
 	</div>
 	<div>
 		<img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" height="350" width="100%">
 	</div>
</body>
</html>