<!DOCTYPE html>
<html>
<head>
	<title>
		D..BUg! projects </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  	<link rel="stylesheet" type="text/css" href="projects.css">

</head>
<body>
	
<div class="row tablink-box">
	
	<button class="col-md-4 col-sm-4 col-xs-4 tab-link" id="defaultopen" onclick="openPage('Projects', this, '#F5F5F5')">Projects</button>
	<button class="col-md-4 col-sm-4 col-xs-4 tab-link" onclick="openPage('Mentors', this, '#F5F5F5')" id="defaultOpen">Mentors</button>
	<button class="col-md-4 col-sm-4 col-xs-4 tab-link" onclick="openPage('Comments', this, '#F5F5F5')">Comments</button>
</div>	
<div class="tabcontent" id="Projects">
	<form action="Home.html" method="get">
		<div class="form-group">
			<input type="text" name="searchedproject" placeholder="Searching...." class="form-control" id="txt-box" required="yes">
		</div>
		<a href="#" type="button" class="btn btn-primary btn-md active form-item">Search</a>
	</form>
			
	<div class="heading-below-contant">
		<p id="quick-link"><label>For more ideas,</label> <a href="#" id="click-link">click here</a></p>
	</div>
	<br>
	<br>
	<section class="type-of-projects">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div class="heading-contant-box">
						<a href="#" class="contant-link"><h3 id="heading-title"><b>HTML</b> <i class="fas fa-code"></i> / <b>CSS</b> <i class="fab fa-css3"></i></h3></a>
					</div>
					<div>
						<p id="heading-contant"><a href="#" class="contant-link">A simple HTML based project's with some basic HTML,CSS tags.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>JavaScript</b> <i class="fab fa-js"></i></h3></a>
					</div>
					<div>
						<p id="heading-contant"><a href="#" class="contant-link">While you are expanding your site, JavaScript is extremely functional as this language can immensely assist you in generating the communication for your website. You can utilize various in style frameworks in JavaScript for constructing the superb user interface. JavaScript is applied for including animations on the web pages, loading fresh images, scripts or objects on web page, and craft hugely responsive user interfaces.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>Python</b> <i class="fab fa-python"></i></h3></a>
					</div>
					<div id="python-box">
						<p id="heading-contant"><a href="#" class="contant-link">For becoming skilled at all-in-one language, you should begin learning Python language that has the ability to expand web apps, data analysis, user interfaces, and much more, and frameworks are also available for these tasks. Python is utilized by bigger companies mostly that can evaluate vast data sets, thus this is a huge chance to learn it and be a Python programmer.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b> C/C++</b></h3></a>	
					</div>
					<div>
						<p id="heading-contant"><a href="#" class="contant-link">You can increase your knowledge by learning about C this year that is a unique programming language. Being the oldest, it should be learned first when you start up, and it is mainly applied in forming different software.It is an ideal selection for strong desktop software as well as apps for mobiles and desktop.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>Java</b> <i class="fab fa-java"></i></h3></a>
					</div>
					<div>
						<p id="heading-contant"><a href="#" class="contant-link">Java is considered as the perfect language for the developers and programmers to learn. Currently,Java can be utilized for mobile-based applications, enterprise-level purpose, for creating desktop applications, and for establishing Android apps on tablets and smartphones.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>Android</b>-( <i class="fab fa-android"></i></h3></a>
					
					</div>
					<div>
					<p id="heading-contant"><a href="#" class="contant-link">built android based apps using built in class libraries.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-md btn-default active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>IOS</b> <i class="fab fa-apple"></i></h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link">Swift is reflected upon as the trendiest program language for expanding apps for Apple products. This language can be utilized by you for building up apps for iOS activated devices and Apple's MAC in a quick and simple method. When you are keen to expand a superb iOS application, then it is better for you to gain knowledge of Swift programming language.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>Ruby</b></h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link">This can be learned easily, and also very strong and clear-cut. If you've small time in hand and still want to craft any project, then you can surely utilize Ruby language. This programming language is applied massively for web programming and hence turned out to be the ideal selection for the beginner companies.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>.NET</b> <i class="fab fa-windows"></i></h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link">After learning c/c++, you can go ahead in knowing about C# language. It won't be difficult for you to get accustomed with C# after knowing C and C++. C# is actually the prime language for Microsoft applications and services. While executing with .Net and ASP technologies, you are required to be familiar with the C# accurately.</a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a hresf="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>Full Stack Web Development</b> <i class="fas fa-window-maximize"></i></h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link">create an professional websites using all front end and backend tools.it contain some codes for front end and for backend. how to routes your website and each response to every events and lots more.  </a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b><i>PHP</i></b> </h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link">The web developers should learn about PHP or Hypertext Preprocessor, a well-known programming language. With the help of PHP, you can enlarge a web app very quickly and effortlessly. PHP is the actual foundation of many strong content management systems, for example, WordPress. PHP is really a valuable programming language for the developers and programmers. </a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 horizontal-contant">
					<div>
						<a href="#" class="contant-link"><h3 id="heading-title"><b>SQL</b> </h3></a>
					</div>
					<div>
						<p><a href="#" class="contant-link"> Database technologies such as MySQL, PostgreSQL and Microsoft SQL Server power big businesses, small businesses, hospitals, banks, universities. Indeed, just about every computer and person with access to technology eventually touches something SQL. For instance, all Android phones and iPhones have access to a SQL database called SQLite and many mobile apps developed Google, Skype and DropBox use it directly. </a></p>
					</div>
					<div id="type-of-project">
						<p><a href="#" type="button" class="btn btn-default btn-md active" id="major-link"><b>Major</b></a><a href="#" type="button" class="btn btn-default btn-md active" id="minor-link"><b>Minor</b></a></p>
					</div>
				</div>
			</div>
			
		</div>
		<footer>
			<div class="container-fluid">
				<div id="logo-footer">
					<a href="#"><img src="C:\Users\tulsisharma\Desktop\logo_transparent.png" id="footer-logo"></a>
				</div>
				<div>
					<span>D..BUg! © 2018</span>
				</div>
			</div>
		</footer>
	</section>
		
</div>


<div class="Mentors-contant tabcontent" id="Mentors">
		<div class="container">
			<div class="jumbotron">
				<h1>Hi !</h1>
				<p>here we are work as a mentors in D..BUg ! projects.	</p>
				<p>Just drop a comments in comment section , we love to help you.</p>			
			</div>
		</div>
		<div class="container Mentors-div">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"> </div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
						
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">Chirag Garg</h3></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"> </div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
						
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">Naman Gulati</h3></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"></div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
								
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">Paras Dhiman</h3></a>
					</div>


					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"> </div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
						
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">???</h3></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"> </div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
						
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">???</h3></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 thumbnail cards">
					<div class="empty"> </div>
					<div class="Mentor-images">
						<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"></a>
						
					</div>
					<div class="mentor-names">
						<a href="#"><h3 class="name-title">???</h3></a>
					</div>
				</div>
			</div>
			
		</div>

		<div class="container">
			<div class="jumbotron admin-heading">
				<h1>Admin</h1>
				<br>
				<p>We are the admin of the D..Bug!</p>
			</div>
		</div>
		<div class="container">
			<div class="col-md-4 col-sm-4 thumbnail admin-card-div">
				<div class="empty"> </div>
				<div class="Mentor-images">
					<a href="#" class="Mentors-img"><img class="img-circle" height="90" width="90" src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/26238931_1343492962462655_9094348904796106740_n.jpg?_nc_cat=0&oh=b5ef4df2e64679d4f5e99f82ca09929a&oe=5BD13128"></a>
						
				</div>
				<div class="mentor-names">
					<a href="#"><h3 class="name-title">Tulsi Sharma</h3></a>
				</div>
			</div>
		</div>

		<footer>
			<div id="logo-footer">
				<a href="Home.html"><a href="#"><img src="C:\Users\tulsisharma\Desktop\logo_transparent.png" id="footer-logo"></a>
			</div>
			<div id=copywrite-tag>
				<span> D..BUg! © 2018</span>		
			</div>
		</footer>


</div>

<div class="container tabcontent" id="Comments">
	<div id="main">
		<div class="row">
			<div class="col-md-12 col-sm-8 col-xs-12 comment-head">
				<h3 id=comment>
					Please Comment
				</h3>
			</div>
		</div>
	</div>

	<div id="form">
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<form action="#" method="post" id="form-box">
					<div id="form-row">
						<textarea id="comment-box" placeholder="Your Message" class="form-control" onchange="javascript:postcomment();"></textarea>
					</div>
				</form>
				<p><button class="btn btn-lg btn-primary comment-post-btn">Post Comment</button></p>
			</div>
		</div>
	</div>

	<div id="second">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<h3 id="second-heading">Leave a Reply</h3>	
			</div>
			<div class="col-md-9 col-xs-12 col-sm-9">
				<div id="blank"></div>
			</div>
		</div>
	</div>
</div>
<div id="container">
	
</div>
<script>
function openPage(pagename,element,color){
	var i,tabcontants,tablink;
	tabcontant=document.getElementsByClassName("tabcontent");
	for(i=0;i < tabcontant.length;i++){
		tabcontant[i].style.display = "none";

	}
	tablink=document.getElementsByClassName("tab-link");
	for(i=0;i < tablink.length;i++){
		tablink[i].style.backgroundColor = "";
	}
	document.getElementById(pagename).style.display = "block";
	element.style.backgroundColor = "#F5F5F5";

}
	document.getElementById("defaultopen").click();
	document.getElementById("defaultopen").style.backgroundColor="#F5F5F5";
</script>
<script>
	var date = new Date();

	var day= formatedate(date.getDate());
	var month=formatedate(date.getMonth());
	var year=formatedate(date.getFullYear());
	var newdate=document.getElementById("date");
	var time=document.getElementById("time");
	var hours=date.getHours();
	var timeformat=timeformats(hours,timeformat);
	var hours=formatetime(date.getHours(),timeformat);
	var minutes=date.getMinutes();
	
	 
	 function formatedate(timedemo){
	 	if(timedemo < 10){
	 		timedemo = "0"+timedemo;
	 	}else{
	 		return timedemo;
	 	}
	 }
	 // newdate.innerHTML=day+"-"+month+"-"+year+" ";
	 
	 function formatetime(timeout,timeformat){
	 if(timeout==0){
	 	timeout=12;
	 }
	 if(timeout > 12){
	 	timeout = timeout-12;
	 }
	 
	 return timeout;
	}

	function timeformats(timeout,timeformat){
		if(timeout < 12){
	 	timeformat="am";
	 }else{
	 	timeformat="pm";
	 }
	 return timeformat;
	}
	// time.innerHTML= hours+":"+minutes + timeformat+" ";


</script>


<script type="text/javascript">
	$(document).ready(function(){
		
		var comment=[
			{
				Name: "Tulsi sharma",
			    Body : "i am the greate guy..!!!"
			}
		];

		
		for(var i=0;i<comment.length;i++){
			var html="<div id="leave-comments"><div class="username-cardbox"><span id="username">"+comment[i].Name+"</span></div><div class="comment-date"><p><span id="date">"+datetime+"</span> at <span id="time">"+Time+"</span></p></div><p id="user-comment">"+comment[i].Body+"</p><div id="reply-btn-box"><a type="button" class="btn btn-primary btn-lg active reply-btn">Reply</a></div></div>";
			document.getElementById("container").append(html);
		}

});
</script>
</body>
</html> 