<!DOCTYPE html>
<html>
<head>
	<title>reset password</title>
	 <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link rel="stylesheet" type="text/css" href="/reset.css">
</head>
<body>
	<div class="mainwrap">
		<div id="logo">
			<h1 class="brand"><a href="/" id="loogo">D..BUg <i class="fas fa-exclamation"></i></a></h1>
			
		</div>
		<h3 id="heading">Reset Password</h3>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-3"></div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<form action="/:id/reset" method="post">
						<div class="form-group">
							<p><input type="email" name="email" placeholder="Email Address" id="Email" class="form-control"></p>
						</div>
						<button class="btn btn-primary btn-lg b1 active">Reset</button>
					</form>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer-access">
				<p><a href="#" id="policy">Privacy Policy</a></p>
			</div>	
		</footer>
	</div>


</body>
</html>