<!DOCTYPE html>
<html>
<head>
	<title>Signup in D..BUg</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
 	<script type="text/javascript" src="bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="signup.css">
</head>
</head>
<body>
	<div class="main-div-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-3"></div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h1 class="logo"><a href="Home.html" id="loogo">D..BUg <i class="fas fa-exclamation"></i></a></h1>
					<div id="heading-below">
						Get started with D..Bug !
					</div>
					<form action="/debug/login" method="post">
						<div class="form-group">
							<input type="text" name="username" placeholder="username" class="form-control">
						</div>
						<div class="form-group">
							<input type="email" name="email" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Password" class="form-control">
						</div>
						<a href="/debug/login" type="button" class="btn btn-primary btn-lg active">Get Started</a>
						<p id="privacy-label">By signing up, you agree to our <a href="#">Term of Services</a></p>
					</form>
					<hr>
					<p id="other-option">or sign up with other accounts</p>
					<div id="other-account">
						<p><button class="btn btn-lg btn-danger"><i class="fab fa-google-plus-g"></i> SignUp</button> <button class="btn btn-lg btn-primary"><i class="fab fa-facebook-f"></i> Sign Up</button></p>
					</div>
					<div>
						<label>Already have an account? <a href="/debud/login">Log in</a></label>
					</div>
	
				</div>
			</div>
			
		</div>
		
	</div>
</body>
</html>